<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Рольставни | купить и установить рольставни в Москве и МО по выгодной цене от компании "Мастер"</title>
    <meta name="description"
          content="Установка рольставен на окна и двери, сантехнических, антивандальных рольставен, роллетных боксов, ворот, рольставен с фотопечатью, от компании 'Мастер' в кратчайшие сроки по выгодной цене с вызовом замерщика">
    <link rel="icon" href="../static/img/logo_mini.jpg">
    <link rel="stylesheet" href="../static/main.css">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86830363, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/86830363" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<header>
    <div class='wrapper' style="position:relative;">
        <div class='logo'>
            <a href="{{ url_for('index.index')}}">
                <img src='../static/img/main_logo.jpg' alt='Мастер лого'/>
            </a>
        </div>
        <div class="head-block">
            <div class="shedule">
                График работы:<br/>
                с&nbsp;8:00 до&nbsp;21:00
                <br>
                без выходных
            </div>
            <div class="attention">
                Все виды роллетных систем в Москве и МО
            </div>
            <div class="partner">
                Партнер Гк Алютех
            </div>
        </div>
        <div class='phone-top'>
            <span class='phone comagic-msk'>+7 (495) 369-40-47</span>
        </div>
    </div>
    <div class="top-menu-holder">
        <div class="wrapper">
            <ul class='top-menu clearfix'>
                <li><a href="{{ url_for('roller_shutters.main_roller_shutters')}}">Рольставни</a></li>
                <li><a href="{{ url_for('gates.main_gates')}}">Ворота</a></li>
                <li><a href="{{ url_for('fence.main_fence')}}">Заборы</a></li>
                <li><a href='https://www.5master.ru/#contacts'>Контакты</a></li>
            </ul>
            <div class="order-top">
                <a href="https://www.5master.ru/#offer" class="call-calc">Оставить заявку</a>
            </div>
        </div>
    </div>
</header>
<body>
<div class="wrapper">
    <section>
        <div class='content'>
            <ul class='main-zabors main-page' style="margin-top:35px !important;">
                <li class="main-zabors-item-0">
                    <div class='img-handler'>
                        <a href="{{ url_for('roller_shutters.show_windows_doors') }}">
                            <img src='../static/img/roll_window.jpg'
                                 alt='Заборы из профнастила' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('roller_shutters.show_windows_doors') }}">Рольставни
                            на окна и двери</a></h2></div>
                        <p>Владельцы частных домов и квартир, офисных, производственных и торговых объектов часто
                            устанавливают защитные рольставни на окна. Для производства роллетных систем мы используем
                            только качественные материалы производства компании "Алютех", которые изготавливают на
                            европейском оборудовании с применением современных технологий. Каждый этап производственного
                            процесса строго контролируется, поэтому у наших клиентов есть возможность купить рольставни
                            на окна, цена которых будет справедливой, а характеристики – максимально высокими.
                            <br>
                            Это легкие и надежные конструкции, отличающиеся по форме и цвету. Наши рольставни из
                            профильных систем "Алютех" могут стать настоящим украшением интерьера или экстерьера, как
                            жилого, так и офисного или торгового помещения.
                        </p>
                        <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a>
                    </div>
                </li>

                <li class="main-zabors-item-3">
                    <div class='img-handler'>
                        <a href="{{ url_for('roller_shutters.show_plumbing_shutters') }}">
                            <img src='../static/img/plumbing_shutters2.jpg'
                                 alt='Сантехнические рольставни' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('roller_shutters.show_plumbing_shutters') }}">Сантехнические
                            рольставни</a></h2></div>
                        <p>Сантехнические рольставни в туалет – относительно новое, но очень полезное решение для
                            санузлов. Несмотря на широкое распространение рольставней, которые сегодня можно увидеть на
                            витринах магазинов, на окнах и дверях домов, рольставни для туалета – достаточно редкое
                            решение.
                            <br>
                            Широкая распространенность рольставен обусловлена их преимуществами. Установив конструкцию в
                            санузле, больше не нужно освобождать пространство для мебели или шкафов. Уровень шума,
                            исходящий из труб, ничтожно мал. Каждый может подобрать модель рольставен в туалет,
                            соответствующую габаритам санузла. Механизм конструкции является максимально прочным и
                            используется годами. Устойчивость к коррозии и повреждениям – еще одна особенность
                            рольставен. Они не требуют особого ухода, достаточно легко и быстро моются. Установка
                            рольставен в туалет – рациональное решение, позволяющее украсить интерьер и скрыть разводку
                            труб, причем финансовые затраты минимальны. Новая степень комфорта и практичности возможна
                            благодаря качественным конструкциям в санузлах!
                            <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>

                <li class="main-zabors-item-1">
                    <div class='img-handler'>
                        <a href="{{ url_for('roller_shutters.show_antivandal') }}">
                            <img src='../static/img/antivandal_roll.jpg'
                                 alt='Заборы из металлического штакетника' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('roller_shutters.show_antivandal') }}">Антивандальные
                            рольставни</a></h2></div>
                        <p>Популярными становятся антивандальные рольставни, особенно для зданий, требования по
                            безопасности которых высоки. Ощутимо выросла популярность антивандальных рольставней среди
                            владельцев торговых предприятий, офисов, складов. Неуклонно повышается популярность этих
                            ролет среди владельцев домов в частном секторе.
                            <br>
                            И это понятно, ведь сами по себе рольставни удобны, неприхотливы, долговечны, защищают от
                            вторжения и хулиганов — например, рольставни легко отразят удар камнем или бутылкой.
                            <br>
                            Главная роль антивандальных рольставней — защита от незаконного вторжения до приезда охраны
                            или полиции. Как правило, устойчивость их к действиям грабителей не разочаровывает
                            заказчиков.
                            <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>


                <li class="main-zabors-item-2">
                    <div class='img-handler'>
                        <a href="{{ url_for('roller_shutters.show_roller_gateway') }}">
                            <img src='../static/img/rulonnye-vorota.jpg'
                                 alt='Роллетные ворота' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('roller_shutters.show_roller_gateway') }}">Роллетные
                            ворота</a>
                        </h2></div>
                        <p>Роллетные ворота – это компактные конструкции с оригинальным исполнением. Именно эти
                            характеристики являются визитной карточкой ворот, которые могут сворачиваться и прятаться в
                            короб. Основа конструкции заключается в поднятии роллет к потолку и размещении их в
                            специальном коробе. Важной особенностью для роллетных ворот выступает экономия пространства.
                            Пространство вокруг сооружения не получается перегруженным.
                            <br>
                            <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>


                <li class="main-zabors-item-4">
                    <div class='img-handler'>
                        <a href="{{ url_for('roller_shutters.show_roll_box') }}">
                            <img src='../../static/img/roller_shutters/box/box_main2.jpg'
                                 alt='Роллетные боксы' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('roller_shutters.show_roll_box') }}">Роллетные
                            боксы</a></h2>
                        </div>
                        <p>Роллетный бокс (шкаф в гараж, подземный паркинг) - это новейший выход из затруднительного
                            положения с хранением спортивного инвентаря, автомобильных колес, велосипеда и других вещей,
                            которым нет места в квартире.
                            <br>
                            Роллетные боксы изготавливаются из алюминиевого профиля, имеющего порошковую покраску и
                            двойной слой лака, что позволяет конструкции сохранять свой внешний вид и функциональность в
                            любую погоду, несмотря на перепады температур, так характерных для нашей страны. Наполнение
                            шкафа в виде разборного металлического стеллажа либо без наполнения, по Вашему желанию.
                            Дополнительно можно установить колесоотбойники.
                            <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>

                <li class="main-zabors-item-3">
                    <div class='img-handler'>
                        <a href="{{ url_for('roller_shutters.show_roll_with_photo') }}">
                            <img src='../static/img/rolstavni_s_foto.jpg'
                                 alt='Рольставни с фотопечатью' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('roller_shutters.show_roll_with_photo') }}">Рольставни
                            с
                            фотопечатью</a></h2></div>
                        <p>Все больше людей сегодня стараются заменять классические решетки, ставни или двери на
                            практичные роллеты. Такие системы могут быть как белыми, так и цветными. Но если Вы хотите
                            не только качественно закрыть окно или нишу, но и внести определенную изюминку в интерьер,
                            рекомендуем обратить внимание на рольставни с фотопечатью, которые становятся все более
                            популярными. Это очень простой способ украшения помещения и придания ему оригинальности.
                            <br>
                            Срок изготовления роллеты с фотопечатью на базе стандартных изображений от семи рабочих
                            дней, при желании дизайнер доплнительно за 2-3 дня может доработать существующий макет или
                            подготовить для Вас индивидуальный вариант.
                            <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

<footer>
    <div class="footer-info">
        <div class="fi-row">
            <div class="col-md-4">
                <div class='logo-footer'>
                    <img src='../static/img/main_logo.jpg' alt='Мастер' width="200px" height="70.05px">
                </div>
                <div class="social-groups">
                    <a class="vk-group" rel="nofollow" href="#"></a>
                    <a class="insta" rel="nofollow" href="#"></a>
                </div>

            </div>
            <div class="col-md-4">
                <div class='adress'>
                    Московская область, г. Красногорск.&nbsp;ул. Центральная&nbsp;3А
                </div>
                <div class="schedule">График работы: с 9:00 до 21:00 без выходных</div>
                <div class="footer-phone">
                    <div class="phone-footer-holder">
                        <i class='fa fa-phone'></i>
                        <span class='phone comagic-msk'>+7 (495) 369-40-47</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="certificate">
                    Место для сертификатов
                </div>
            </div>
        </div>
        <div class="fi-row no-title">
            <div class="col-md-4">
            </div>
        </div>
        <div class="copyright">Мастер &copy;</div>
    </div>
</footer>
</body>
</html>