<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/img/logo_mini.jpg">
    <style>
        .alert {
            padding: 20px;
            background-color: #44c42c;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
    <strong>Спасибо за заявку!</strong> Мы обязательно с Вами свяжемся.
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

</html>
