<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/img/logo_mini.jpg">
    <link rel="stylesheet" href="../static/flash.css">
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
    <strong>Спасибо за заявку!</strong> Мы обязательно с Вами свяжемся.
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}
</html>
