<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мастер | Рольставни</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="../js/slider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <style>:root {
        --n: 5
    }</style>

</head>
<body>
<script>
    $(document).ready(function () {
        $("a[href*=#]").on("click", function (e) {
            var anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $(anchor.attr('href')).offset().top
            }, 777);
            e.preventDefault();
            return false;
        });
    });
</script>

<header>
    <div class='wrapper' style="position:relative;">
        <div class='logo'>
            <a href="{{ url_for('index.index')}}">
                <img src='../static/img/logo.jpg' alt='Мастер лого'/>
            </a>
        </div>
        <div class="head-block">
            <div class="shedule">
                График работы:<br/>
                с 8:00 до 19:00
            </div>
            <div class="attention">
                Все виды роллетных систем в Москве и МО
            </div>
            <div class="partner">
                Партнер Гк Алютех
            </div>
        </div>
        <div class='phone-top'>
            <span class='phone comagic-msk' data-prefix='7495'>+7 (777) 777-77-77</span>
        </div>
    </div>
    <div class="top-menu-holder">
        <div class="wrapper">
            <ul class='top-menu clearfix'>
                <li><a href='/about/'>О нас</a></li>
                <!--                <li><a href="#kind">Виды роллет</a></li>-->
                <li><a href='/action/'>Акции</a></li>
                <li><a href='/gallery/'>Фото</a></li>
                <li><a href='/contact/'>Контакты</a></li>

            </ul>
            <div class="order-top">
                <a href="#offer" class="call-calc">Оставить заявку</a>
            </div>
        </div>
    </div>
</header>

<style>


    .text-block-holder {
        /*width: 70%;*/
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 11;
    }


    .text-block {
        position: relative;
        z-index: 2;
        padding: 66px 90px 60px 90px;
        text-align: center;
        color: #fff;
    }

    .text-block h1 span {
        display: block;
        margin-top: 5px;
        font-size: 38px;
        font-weight: 500;
        line-height: 45px;
    }

    .text-block .sub-title {
        margin-top: 25px;
        font-size: 38px;
        line-height: 45px;
        text-transform: uppercase;
        /*max-width: 570px;*/
    }

    .text-block .sub-title2 {
        font-size: 17px;
        margin-top: 39px;
    }

    .text-block ul li {
        list-style: none;
        padding: 5px 0;
    }

    .text-block ul li .fa {
        margin-right: 15px;
        color: #fff;
        background: #22840c;
        border-radius: 14px;
    }

    .text-block ul li .fa:before {
        position: relative;
        left: 2px;
    }

    .text-block .button-block {
        display: inline-block;
        margin: 10px 0 0 0;
        padding: 15px 35px;
        font: 600 30px/34px Roboto, sans-serif;
        border: 2px solid #fff;
        border-radius: 14px;
        text-transform: uppercase;
    }


    @media only screen and (max-width: 768px) {
        .text-block-holder {
            width: 100%;
        }

        .text-block {
            padding: 15px 10px 0 10px;
        }

        .text-block h1 {
            font-size: 32px;
        }

        .text-block h1 span {
            font-size: 24px;
            line-height: 28px;
        }

        .text-block .sub-title {
            font: 400 20px/24px Roboto, sans-serif;
        }

        .text-block .sub-title2 {

        }
    }

    @media only screen and (min-width: 768px) {
        .sub-title2 {
            display: none;
        }
    }
</style>


<section id="main-block" class="index"
         style="background:url(../static/img/header.jpg) no-repeat center top;background-size:cover;">
    <div class="overlay"></div>
    <div class="text-block-holder">
        <div class="text-block">
            <h1>Рольставни под ваши размеры для дома, дачи и&nbsp;офиса!</h1>
            <div class="sub-title">
                <p>Производство и&nbsp;монтаж за&nbsp;1&nbsp;день!</p>
                <p>Выезд замерщика в&nbsp;любое удобное для Вас время!</p>
            </div>
            <div class="sub-title2">
                <p>График работы: с&nbsp;8:00 до&nbsp;19:00</p>
                <p>Все виды роллетных систем в&nbsp;Москве и&nbsp;МО</p>
                <p>Партнер Гк&nbsp;Алютех</p>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section>
        <div class='content'>
            <ul class='main-zabors main-page' style="margin-top:35px !important;">
                <li class="main-zabors-item-0">
                    <div class='img-handler'>
                        <img src='../static/img/roll_window.jpg'
                             alt='Заборы из профнастила' width="450px" height="350px">
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a id="kind">Рольставни на окна и двери</a></h2></div>
                        <p>Владельцы частных домов и квартир, офисных, производственных и торговых объектов часто
                            устанавливают защитные рольставни на окна. Для производства роллетных систем мы используем
                            только качественные материалы производства компании "Алютех", которые изготавливают на
                            европейском оборудовании с применением современных технологий. Каждый этап производственного
                            процесса строго контролируется, поэтому у наших клиентов есть возможность купить рольставни
                            на окна, цена которых будет справедливой, а характеристики – максимально высокими.
                            <br>
                            Это легкие и надежные конструкции, отличающиеся по форме и цвету. Наши рольставни из
                            профильных систем "Алютех" могут стать настоящим украшением интерьера или экстерьера, как
                            жилого, так и офисного или торгового помещения.
                        </p>
                        <a href="{{ url_for('calculator.calculator') }}" class="button">Рассчитать стоимость</a>
                    </div>
                </li>


                <li class="main-zabors-item-1">
                    <div class='img-handler'>
                        <img src='../static/img/antivandal_roll.jpg'
                             alt='Заборы из металлического штакетника' width="450px"
                             height="350px">
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2>Антивандальные рольставни</h2></div>
                        <p>Популярными становятся антивандальные рольставни, особенно для зданий, требования по
                            безопасности которых высоки. Ощутимо выросла популярность антивандальных рольставней среди
                            владельцев торговых предприятий, офисов, складов. Неуклонно повышается популярность этих
                            ролет среди владельцев домов в частном секторе.
                            <br>
                            И это понятно, ведь сами по себе рольставни удобны, неприхотливы, долговечны, защищают от
                            вторжения и хулиганов — например, рольставни легко отразят удар камнем или бутылкой.
                            <br>
                            Главная роль антивандальных рольставней — защита от незаконного вторжения до приезда охраны
                            или полиции. Как правило, устойчивость их к действиям грабителей не разочаровывает
                            заказчиков.
                            <a href="{{ url_for('calculator.calculator') }}" class="button">Рассчитать стоимость</a></p>
                    </div>
                </li>


                <li class="main-zabors-item-2">
                    <div class='img-handler'>
                        <img src='../static/img/rulonnye-vorota.jpg'
                             alt='Роллетные ворота' width="450px" height="350px">
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2>Роллетные ворота</h2></div>
                        <p>Роллетные ворота – это компактные конструкции с оригинальным исполнением. Именно эти
                            характеристики являются визитной карточкой ворот, которые могут сворачиваться и прятаться в
                            короб. Основа конструкции заключается в поднятии роллет к потолку и размещении их в
                            специальном коробе. Важной особенностью для роллетных ворот выступает экономия пространства.
                            Пространство вокруг сооружения не получается перегруженным.
                            <br>

                            <a href="{{ url_for('calculator.calculator') }}" class="button">Рассчитать стоимость</a></p>
                    </div>
                </li>


                <li class="main-zabors-item-3">
                    <div class='img-handler'>
                        <img src='../static/img/rolstavni_s_foto.jpg'
                             alt='Рольставни с фотопечатью' width="450px" height="350px">
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2>Рольставни с фотопечатью</h2></div>
                        <p>Все больше людей сегодня стараются заменять классические решетки, ставни или двери на
                            практичные роллеты. Такие системы могут быть как белыми, так и цветными. Но если Вы хотите
                            не только качественно закрыть окно или нишу, но и внести определенную изюминку в интерьер,
                            рекомендуем обратить внимание на рольставни с фотопечатью, которые становятся все более
                            популярными. Это очень простой способ украшения помещения и придания ему оригинальности.
                            <br>
                            Срок изготовления роллеты с фотопечатью на базе стандартных изображений от семи рабочих
                            дней, при желании дизайнер доплнительно за 2-3 дня может доработать существующий макет или
                            подготовить для Вас индивидуальный вариант.
                            <a href="{{ url_for('calculator.calculator') }}" class="button">Рассчитать стоимость</a>
                        </p>
                    </div>
                </li>
                <li class="main-zabors-item-4">
                    <div class='img-handler'>
                        <img src='../static/img/Rollbox.jpg'
                             alt='Роллетные боксы' width="450px" height="350px">
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2>Роллетные боксы</h2></div>
                        <p>Роллетный бокс (шкаф в гараж, подземный паркинг) - это новейший выход из затруднительного
                            положения с хранением спортивного инвентаря, автомобильных колес, велосипеда и других вещей,
                            которым нет места в квартире.
                            <br>
                            Роллетные боксы изготавливаются из алюминиевого профиля, имеющего порошковую покраску и
                            двойной слой лака, что позволяет конструкции сохранять свой внешний вид и функциональность в
                            любую погоду, несмотря на перепады температур, так характерных для нашей страны. Наполнение
                            шкафа в виде разборного металлического стеллажа либо без наполнения, по Вашему желанию.
                            Дополнительно можно установить колесоотбойники.
                            <a href="{{ url_for('calculator.calculator') }}" class="button">Рассчитать стоимость</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

<div class="wrapper">
    <section>
        <div class="content">
            <div class="work-title"><h2>Отзывы о работе с нами</h2></div>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="review-text">
                            <p>"Устанавливали рольставни на даче в подмосковье, нареканий нет, все быстро и качественно!
                                Приехали два русских парня, работали слаженно, сразу видно, что не первый день работают
                                в
                                паре, молодцы"</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review-text">
                            <p>"Заказывал через ребят рольставни в ванную комнату. Приехали, посоветовали как лучше
                                поставить. Подписали договор, внес предоплату. На следующей недели приехали, за пару
                                часов
                                без зазоров все поставили."</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review-text">
                            <p>"Заказывал забор с установкой, все сделано быстро и профессионально! В день обращения
                                приехал замерщик, через три дня забор уже стоял!"</p>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
</div>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/js/slider.js"></script>


<div class="wrapper">
    <section>
        <div class="content">
            <div class="text-image">
                <div class="ti-left">
                    <div class="work-title"><h2>Как мы работаем</h2></div>
                    <div class="body">
                        <article data-year="Шаг 1" style="--idx: 0; --slist: #fff251,#ffb258">
                            <h3>Заявка</h3>
                            <p>Оставьте заявку на сайте или позвоните нам для уточнения заказа, выбора удобной даты и
                                вызова замерщика</p>
                        </article>
                        <article data-year="Шаг 2" style="--idx: 1; --slist: #fdb970,#ff8588">
                            <h3>Договор</h3>
                            <p>Вызов замерщика и заключение договора об оказании услуг</p>
                        </article>
                        <article data-year="Шаг 3" style="--idx: 2; --slist: #fc7190,#d2659e">
                            <h3>Предоплата</h3>
                            <p>Предоплата составляет 50% от стоимости</p>
                        </article>
                        <article data-year="Шаг 4" style="--idx: 3; --slist: #de99cf,#9d5a86">
                            <h3>Изготовление</h3>
                            <p>Мы подготовим все необходимые материалы для установки</p>
                        </article>
                        <article data-year="Шаг 5" style="--idx: 4; --slist: #50ccca,#4aa3b5">
                            <h3>Установка</h3>
                            <p>Доставка и монтаж в удобное для Вас время</p>
                        </article>
                        <article data-year="Шаг 6" style="--idx: 5; --slist: #66dd80,#8fe3d0">
                            <h3>Сдача работы</h3>
                            <p>Вы принимаете отличную работу и подписываете акт</p>
                        </article>
                        <article data-year="Шаг 7" style="--idx: 6; --slist: #4de193, #088730">
                            <h3>Постоплата</h3>
                            <p>Вы оплачиваете остальные 50%</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<form action="" method="POST">
    {{ form.csrf_token }}
    <section class="offers">
        <div class="wrapper">
            <div class="container-form">
                <div class="contact-us">
                    <div class="title-offers">
                        <a id="offer">
                            <h2>Остались вопросы?
                                <br>
                                Оставьте заявку и мы свяжемся с Вами!
                            </h2>
                        </a>
                    </div>
                    <form class="card-form">
                        <div class="input">
                            <input type="text" class="input-field" name="name" required/>
                            <label class="input-label">Имя</label>
                        </div>
                        <div class="input">
                            <input type="email" class="input-field" name="email" required/>
                            <label class="input-label">Почта</label>
                        </div>
                        <div class="input">
                            <input type="tel" class="input-field" name="number" required/>
                            <label class="input-label">Телефон</label>
                        </div>
                        <div class="action">
                            <button type="submit" class="action-button">Отправить</button>
                        </div>
                    </form>
                    <div class="card-info">
                        <p>Мы заботимся о вашей конфеденциальности. Ваши данные не будут пеереданы третьим лицам.
                            <br>
                            Отправляя свои данные Вы соглашаетесь с <a href="#">соглашением об обработке персональных
                                данных</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


<div class="wrapper" style="padding:0;">
    <section>
        <div class="content">
        </div>
    </section>
</div>

<footer>
    <div class="footer-info">
        <div class="fi-row">
            <div class="col-md-4">
                <div class='logo-footer'>
                    <img src='../static/img/logo.jpg' alt='Мастер' width="200px" height="70.05px">
                </div>
                <div class="social-groups">
                    <a class="vk-group" rel="nofollow" href="#"></a>
                    <a class="insta" rel="nofollow" href="#"></a>
                </div>


            </div>
            <div class="col-md-4">
                <div class='adress'>
                    111111, г. Москва, ул. Пушкина,<br/>д.1, стр.1, оф.1<br/>
                    ИНН: 11111111, ОГРН: 1111111111<br>
                </div>
                <div class="schedule"></div>
                График работы: с 8:00 до 19:00
                <div class="footer-phone">
                    <div class="phone-footer-holder">
                        <i class='fa fa-phone'></i>
                        <span class='phone comagic-msk'>+7 (777) 777-77-77</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="certificate">
                    Место для сертификатов
                </div>
            </div>
        </div>
        <div class="fi-row no-title">
            <div class="col-md-4">
            </div>
        </div>
        <div class="copyright">Мастер &copy;</div>
    </div>
</footer>

</body>
</html>