<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ворота | покупка и установка ворот в Москве и МО от компании "Мастер"</title>
    <meta name="description"
          content="Установка откатных, роллетных и распашных ворот от компании 'Мастер' в кратчайшие сроки по выгодной цене с вызовом замерщика">

    <link rel="icon" href="../static/img/logo_mini.jpg">
    <link rel="stylesheet" href="../../static/main.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.5master.ru/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.5master.ru/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.5master.ru/favicon-16x16.png">
    <link rel="manifest" href="https://www.5master.ru/site.webmanifest">
    <link rel="mask-icon" href="https://www.5master.ru/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86893441, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/86893441" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<header>
    <div class='wrapper' style="position:relative;">
        <div class='logo'>
            <a href="{{ url_for('index.index')}}">
                <img src='../../static/img/main_logo.jpg' alt='Мастер лого'/>
            </a>
        </div>
        <div class="head-block">
            <div class="shedule">
                График работы:<br/>
                с&nbsp;8:00 до&nbsp;21:00
                <br>
                без выходных
            </div>
            <div class="attention">
                Все виды роллетных систем в Москве и МО
            </div>
            <div class="partner">
                Партнер Гк Алютех
            </div>
        </div>
        <div class='phone-top'>
            <span class='phone comagic-msk'>+7 (495) 369-40-47</span>
            <br>
            <span class='phone comagic-msk'>+7 (968) 006-74-56</span>
        </div>
    </div>
    <div class="top-menu-holder">
        <div class="wrapper">
            <ul class='top-menu clearfix'>
                <li><a href="{{ url_for('roller_shutters.main_roller_shutters')}}">Рольставни</a></li>
                <li><a href="{{ url_for('gates.main_gates')}}">Ворота</a></li>
                <li><a href="{{ url_for('fence.main_fence')}}">Заборы</a></li>
                <li><a href='https://5master.ru/#contacts'>Контакты</a></li>
            </ul>
            <div class="order-top">
                <a href="https://5master.ru/#offer" class="call-calc">Оставить заявку</a>
            </div>
        </div>
    </div>
</header>
<body>
<div class="wrapper">
    <section>
        <div class='content'>
            <ul class='main-zabors main-page' style="margin-top:35px !important;">
                <!--                <li class="main-zabors-item-0">-->
                <!--                    <div class='img-handler'>-->
                <!--                        <a href="{{ url_for('gates.show_gates_prom') }}">-->
                <!--                            <img src='../../static/img/gates/prom.jpg'-->
                <!--                                 alt='Заборы из профнастила' width="450px">-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                    <div class='text-handler'>-->
                <!--                        <div class="title"><h2><a href="{{ url_for('gates.show_gates_prom') }}">Промышленные-->
                <!--                            ворота</a></h2></div>-->
                <!--                        <p>Складские помещения нуждаются в дополнительной безопасности, обеспечить высокий уровень-->
                <!--                            защиты могут специальные промышленные ворота для склада. Они предусматривают как въезд-->
                <!--                            транспорта в помещение, так и проход людей. Кроме этого, они позволят надёжно защитить-->
                <!--                            содержимое, которое хранится на складе от злоумышленников и холода.-->
                <!--                        </p>-->
                <!--                        <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a>-->
                <!--                    </div>-->
                <!--                </li>-->

                <!--                <li class="main-zabors-item-2">-->
                <!--                    <div class='img-handler'>-->
                <!--                        <a href="{{ url_for('gates.show_gates_sectionnye') }}">-->
                <!--                            <img src='../../static/img/gates/sectionvorota.jpg'-->
                <!--                                 alt='Роллетные ворота' width="450px">-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                    <div class='text-handler'>-->
                <!--                        <div class="title"><h2><a href="{{ url_for('gates.show_gates_sectionnye') }}">Секционные ворота</a>-->
                <!--                        </h2></div>-->
                <!--                        <p>Для тех, кто ценит высокую функциональность, надежность, качество и безопасность отличным-->
                <!--                            выбором будут секционные ворота. Компания "Мастер" предлагает широкий выбор-->
                <!--                            высокотехнологичной продукции по самым выгодным ценам. Мы поможем подобрать надежную и-->
                <!--                            удобную в использовании модель ворот, которые будут отвечать всем необходимым критериям и-->
                <!--                            пожеланиям по функциональности, надежности, износостойкости, качеству и долговечности.-->
                <!--                            Продукция сертифицирована, что является подтверждением отличного качества и предельной-->
                <!--                            надежности-->
                <!--                            <a href="https://www.5master.ru/#offer" class="button">Оставить заявку</a></p>-->
                <!--                    </div>-->
                <!--                </li>-->
                <li class="main-zabors-item-3">
                    <div class='img-handler'>
                        <a href="{{ url_for('gates.show_gates_otkatnye') }}">
                            <img src='../../static/img/gates/otkatvorota.jpg'
                                 alt='Рольставни с фотопечатью' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('gates.show_gates_otkatnye') }}">Откатные ворота</a>
                        </h2>
                        </div>
                        <p>Для тех, кто высоко ценит качество, надежность и предельную безопасность, откатные ворота
                            будут лучшим выбором. Они отлично себя
                            зарекомендовали в применении на промышленных предприятиях, в загородных коттеджах, усадьбах
                            и других местах. Практичные и универсальные в использовании модели ворот дают возможность
                            обеспечить должную скорость пропуска посетителей на объект и обеспечить максимальную
                            безопасность объекта.
                            <a href="https://5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>

                <li class="main-zabors-item-2">
                    <div class='img-handler'>
                        <a href="{{ url_for('roller_shutters.show_roller_gateway') }}">
                            <img src='../static/img/rulonnye-vorota.jpg'
                                 alt='Роллетные ворота' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('roller_shutters.show_roller_gateway') }}">Роллетные
                            ворота</a>
                        </h2></div>
                        <p>Роллетные ворота – это компактные конструкции с оригинальным исполнением. Именно эти
                            характеристики являются визитной карточкой ворот, которые могут сворачиваться и прятаться в
                            короб. Основа конструкции заключается в поднятии роллет к потолку и размещении их в
                            специальном коробе. Важной особенностью для роллетных ворот выступает экономия пространства.
                            Пространство вокруг сооружения не получается перегруженным.
                            <br>
                            <a href="https://5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>

                <li class="main-zabors-item-3">
                    <div class='img-handler'>
                        <a href="{{ url_for('gates.show_gates_raspashnye') }}">
                            <img src='../../static/img/gates/raspashnie_vorota.jpg'
                                 alt='Рольставни с фотопечатью' width="450px">
                        </a>
                    </div>
                    <div class='text-handler'>
                        <div class="title"><h2><a href="{{ url_for('gates.show_gates_raspashnye') }}">Распашные
                            ворота</a></h2>
                        </div>
                        <p>Распашные ворота являются наиболее популярным типом конструкций, широко используемых в
                            обустройстве загородных участков, дач, частных территорий. Они ценятся за простоту монтажа,
                            безопасность и надежность в эксплуатации. Современные производители предлагают широкий
                            модельный ряд распашных конструкций, среди которых особенно выделяются автоматические
                            модели.
                            <a href="https://5master.ru/#offer" class="button">Оставить заявку</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

<footer>
    <div class="footer-info">
        <div class="fi-row">
            <div class="col-md-4">
                <div class='logo-footer'>
                    <img src='../../static/img/main_logo.jpg' alt='Мастер' width="200px" height="70.05px">
                </div>
                <div class="social-groups">
                    <a class="vk-group" rel="nofollow" href="#"></a>
                    <a class="insta" rel="nofollow" href="#"></a>
                </div>

            </div>
            <div class="col-md-4">
                <div class='adress'>
                    Московская область, г. Красногорск.&nbsp;ул. Центральная&nbsp;3А
                </div>
                <div class="schedule">График работы: с 9:00 до 21:00 без выходных</div>
                <div class="footer-phone">
                    <div class="phone-footer-holder">
                        <i class='fa fa-phone'></i>
                        <span class='phone comagic-msk'>+7 (495) 369-40-47<br>+7 (968) 006-74-56</span>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="certificate">

                </div>
            </div>
        </div>
        <div class="fi-row no-title">
            <div class="col-md-4">
            </div>
        </div>
        <div class="copyright">Мастер &copy;</div>
    </div>
</footer>
</body>
</html>