<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мастер | Ошибка</title>
    <link rel="icon" href="../static/img/logo_mini.jpg">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<header>
    <div class='wrapper' style="position:relative;">
        <div class='logo'>
            <a href="{{ url_for('index.index')}}">
                <img src='../static/img/main_logo.jpg' alt='Мастер лого'/>
            </a>
        </div>

        <div class="head-block">
            <div class="shedule">
                График работы:<br/>
                с&nbsp;8:00 до&nbsp;21:00
                <br>
                без выходных
            </div>
            <div class="attention">
                Все виды роллетных систем в Москве и МО
            </div>
            <div class="partner">
                Партнер Гк Алютех
            </div>
        </div>
        <div class='phone-top'>
            <span class='phone comagic-msk' data-prefix='7495'>+7 (495) 369-40-47</span>
        </div>
    </div>

    <div class="top-menu-holder">
        <div class="wrapper">
            <ul class='top-menu clearfix'>
                <li><a href="https://www.5master.ru/#about">О нас</a></li>
                <!--                <li><a href='/about/'>Услуги</a></li>-->
                <!--                <li><a href="#">Виды роллет</a></li>-->
                <li><a href='/action/'>Акции</a></li>
                <li><a href='/gallery/'>Фото</a></li>
                <li><a href="https://www.5master.ru/#contacts">Контакты</a></li>
            </ul>
            <div class="order-top">
                <a href="https://www.5master.ru/#offer" class="call-calc">Оставить заявку</a>
            </div>
        </div>
    </div>
</header>

<div class="wrapper">
    <div class="title">
        <h2>Такой страницы не существует</h2>
    </div>
</div>