<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мастер | Ошибка</title>
    <link rel="icon" href="../static/img/logo_mini.jpg">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<header>
    <div class='wrapper' style="position:relative;">
        <div class='logo'>
            <a href="{{ url_for('index.index')}}">
                <img src='../static/img/main_logo.jpg' alt='Мастер лого'/>
            </a>
        </div>

        <div class="head-block">
            <div class="shedule">
                График работы:<br/>
                с&nbsp;8:00 до&nbsp;21:00
                <br>
                без выходных
            </div>
            <div class="attention">
                Все виды роллетных систем в Москве и МО
            </div>
            <div class="partner">
                Партнер Гк Алютех
            </div>
        </div>
        <div class='phone-top'>
            <span class='phone comagic-msk'>+7 (495) 369-40-47</span>
            <br>
            <span class='phone comagic-msk'>+7 (968) 006-74-56</span>
        </div>
    </div>

    <div class="top-menu-holder">
        <div class="wrapper">
            <ul class='top-menu clearfix'>
                <li><a href="{{ url_for('roller_shutters.main_roller_shutters')}}">Рольставни</a></li>
                <li><a href="{{ url_for('gates.main_gates')}}">Ворота</a></li>
                <li><a href="{{ url_for('fence.main_fence')}}">Заборы</a></li>
                <li><a href='https://5master.ru/#contacts'>Контакты</a></li>
            </ul>
            <div class="order-top">
                <a href="https://5master.ru/#offer" class="call-calc">Оставить заявку</a>
            </div>
        </div>
    </div>
</header>

<div class="wrapper">
    <div class="title">
        <h2>Сервис отправки заявок временно не работает, позвоните на номер, указанный выше</h2>
    </div>
</div>